annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio @ file:///croot/anyio_1745334642479/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725571112467/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click @ file:///croot/click_1744271578095/work
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
fastapi @ file:///home/task_175710105481652/conda-bld/fastapi_1757101256694/work
h11 @ file:///croot/h11_1748442006460/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
iniconfig==2.1.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
lightfm @ file:///home/conda/feedstock_root/build_artifacts/lightfm_1679649506475/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225342954/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=c799942b5898f6e6c60264d1663a6469a475290e758c654aeeb78e2596463abd
packaging==25.0
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1752081702369/work
pluggy==1.6.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///croot/pydantic_1750768261732/work
pydantic_core @ file:///croot/pydantic-core_1750754736071/work
Pygments==2.19.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==8.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-multipart @ file:///croot/python-multipart_1743518669127/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1736496755362/work/dist/scikit_learn-1.6.1-cp39-cp39-linux_x86_64.whl#sha256=e8f978e37bb47e04e1337a63f75697b723d6d25f58e477734555faed033884ba
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470218293/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=e6696cb8683d94467891b7648e068a3970f6bc0a1b3c1aa7f9bc89458eafd2f0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio @ file:///croot/sniffio_1705431295498/work
starlette @ file:///home/task_175691046267673/conda-bld/starlette-recipe_1756910681122/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tomli==2.2.1
typing-inspection @ file:///croot/typing-inspection_1746023470701/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn @ file:///croot/uvicorn-split_1751615730076/work
xgboost @ file:///home/conda/feedstock_root/build_artifacts/xgboost-split_1744329020674/work/python-package
zstandard==0.23.0
