# Python virtual environment
env/

# IDE specific files
.vscode/

# System files
__pycache__/
.DS_Store

# Data files (we will add the specific path later)
ctr-avazu/train.csv

# Models
ctr-avazu/xgb_model.joblib
ctr-avazu/ohe_columns.joblib